.mainNav {
    background-color: #1034A6;
}

.searchNav {
    margin-top: 10px;
    background-color: #0077BE;
}

.card {
    position: relative;
}

body {
    background: url(../images/cork-wallet.png);

}

.titleContent {
    border-bottom: 3px solid #0D47A1;
    /*-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);*/
    /*-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);*/
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);*/
}

a {
    color: #1C39BB;
}

.url {
    border-top: 3px solid #0D47A1;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.tag {
    position: absolute;
    bottom: 2%;
    right: 1%;
    text-transform: capitalize;
}

.like {
    position: absolute;
    bottom: 2%;
    left: 4%;
}

.cardTitle {
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    color: cornflowerblue;
    text-align: center;
    font-size: calc(0.8em + 0.5vw);
    text-transform: capitalize;
}

.card.small {
    height: 320px;
}

@media screen and (max-width: 1024px) {
    .card.small {
        height: 250px;
    }
}

@media screen and (maX-width: 480px) {
    .card.small {
        height: 200px !important;
    }
}

.preloader-wrapper {
    margin-left: 3vw;
}

#preLoad h4 {
    text-align: center;
}

.card-content {
    text-align: center;
    padding: 5px !important;
    max-height: 100% !important;
    font-size: calc(0.5em + 0.6vmin);
}

.card .right {
    padding-right: 7px;

}

#pushBtn {

}

nav .right {
    padding-right: 15px;
}

/* label color */
.input-field label {
    color: #1C39BB;;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #1C39BB;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1C39BB;
    box-shadow: 0 1px 0 0 #1C39BB;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #1C39BB;
}


