.mainNav {
    background-color: #1560BD;
}

.info {
    position: relative;
    left: 3%;
    width: 10vw;
}

.searchNav {
    margin-top: 10px;
    background-color: cornflowerblue;
}

#autocomplete-input {
    background-color: cornflowerblue;

}

.select-wrapper input.select-dropdown {
    display: inline;
    border-bottom: 1px solid #fff;
}

.card {
    position: relative;
    -webkit-box-shadow: 5px 5px 10px rgba(255, 191, 00, .5);
    -moz-box-shadow: 5px 5px 10px rgba(255, 191, 00, .5);
    box-shadow: 5px 5px 10px rgba(255, 191, 00, .5);
}

body {
    background: url(../images/cork-wallet.png);

}

.titleContent {
    border-bottom: 3px solid #1C39BB;

}

a {
    color: #1C39BB;
}

.url {
    border-top: 3px solid #1C39BB;
    -ms-word-wrap: break-word;
    word-wrap: break-word;

}

.tag {
    color: #9F566A;
    position: absolute;
    bottom: 2%;
    right: 1%;
    text-transform: capitalize;
}

.like {
    position: absolute;
    bottom: 2%;
    left: 4%;
}

.cardTitle {
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    color: cornflowerblue;
    text-align: center;
    font-size: calc(0.8em + 0.5vw);
    text-transform: capitalize;
}

.card.small {
    height: 320px;
}

@media screen and (max-width: 1024px) {
    .card.small {
        height: 250px;
        font-size: calc(0.5em + 0.7vmin);
    }
}

@media screen and (maX-width: 480px) {
    .card.small {
        height: 200px !important;
        font-size: calc(0.5em + 0.5vmin);
    }
}

.preloader-wrapper {
    margin-left: 3vw;
}

#preLoad h4 {
    text-align: center;
}

.card-content {
    text-align: center;
    padding: 5px !important;
    max-height: 100% !important;
    font-size: calc(0.6em + 0.7vmin);
}

.card .right {
    padding-right: 7px;

}

#pushBtn {

}

nav .right {
    padding-right: 15px;
}

/* label color */
.input-field label {
    color: #1C39BB;;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #1C39BB;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1C39BB;
    box-shadow: 0 1px 0 0 #1C39BB;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #1C39BB;
}


